force-app/main/default/flows/Create_Case_Files_Links.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>link</name>
        <dataType>String</dataType>
        <expression>&quot;https://cdo1.my.salesforce.com/sfc/servlet.shepherd/document/download/&quot; +{!loop_through_contentdocumentlinks.ContentDocumentId} + &quot;?operationContext=S1&quot;</expression>
    </formulas>
    <interviewLabel>Create Case Files Linkw {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case Files Links</label>
    <loops>
        <name>loop_through_contentdocumentlinks</name>
        <label>loop through contentdocumentlinks</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_all_contentdocumentLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Case_File_Link</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_File_Link</name>
        <label>Create Case File Link</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>loop_through_contentdocumentlinks</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Link__c</field>
            <value>
                <elementReference>link</elementReference>
            </value>
        </inputAssignments>
        <object>Case_File__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_all_contentdocumentLinks</name>
        <label>Get all contentdocumentLinks</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_contentdocumentlinks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_contentdocumentLinks</targetReference>
        </connector>
        <object>Case</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-04-12</startDate>
            <startTime>16:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
